<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd"
        default-init-method="turnOnLights"
        default-destroy-method="turnOffLights">

    <!--<start id="juggler_wrongkey">-->
    <bean id="juggler_wrongkey" class="com.wrongkey.springidol.Juggler">
        <constructor-arg name="name" value="wrongkey"/>
        <constructor-arg name="beanBags" value="5"/>
    </bean>
    <!--<end id="juggler_wrongkey">-->

    <!--<start id="sonnet29">-->
    <bean id="sonnet29"
            class="com.wrongkey.springidol.Sonnet29"/>
    <!--<end id="sonnet29">-->

    <!--<start id="poeticjuggler_wrongkey">-->
    <bean id="poeticjuggler_wrongkey"
            class="com.wrongkey.springidol.PoeticJuggler">
        <constructor-arg name="name" value="wrongkey"/>
        <constructor-arg name="beanBags" value="15"/>
        <constructor-arg name="poem" ref="sonnet29"/>
    </bean>
    <!--<end id="poeticjuggler_wrongkey">-->

    <!--<start id="stage">-->
    <bean id="stage"
          class="com.wrongkey.springidol.Stage"
          factory-method="getInstance" />
    <!--<end id="stage">-->

    <!--<start id="auditorium">-->
    <bean id="auditorium"
          class="com.wrongkey.springidol.Auditorium"/>
          <!--init-method="turnOnLights"
          destroy-method="turnOffLights" -->
    <!--<end id="auditorium">-->

    <!--<start id="instrumentalist_wrongkey">-->
    <bean id="instrumentalist_wrongkey"
          class="com.wrongkey.springidol.Instrumentalist">
        <property name="name" value="instrumentalist_wrongkey"/>
        <property name="song" value="Jingle Bells"/>
        <property name="instrument" ref="piano"/>
    </bean>
    <!--<end id="instrumentalist_wrongkey">-->

    <!--<start id="saxophone">-->
    <bean id="saxophone"
          class="com.wrongkey.springidol.Saxophone"/>
    <!--<end id="saxophone">-->

    <!--<start id="piano">-->
    <bean id="piano"
          class="com.wrongkey.springidol.Piano"/>
    <!--<end id="piano">-->

    <!--<start id="guitar">-->
    <bean id="guitar"
          class="com.wrongkey.springidol.Guitar"/>
    <!--<end id="guitar">-->

    <!--<start id="onemanband_wrongkey">-->
    <bean id="onemanband_wrongkey"
          class="com.wrongkey.springidol.OneManBand">
        <property name="instruments">
            <list>
                <ref bean="saxophone" />
                <ref bean="guitar" />
                <ref bean="piano" />
            </list>
        </property>
    </bean>
    <!--<end id="onemanband_wrongkey">-->

</beans>