<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<start id="juggler_wrongkey">-->
    <bean id="juggler_wrongkey" class="com.wrongkey.springidol.Juggler">
        <constructor-arg name="name" value="wrongkey"/>
        <constructor-arg name="beanBags" value="5"/>
    </bean>
    <!--<end id="juggler_wrongkey">-->

    <!--<start id="sonnet29">-->
    <bean id="sonnet29"
            class="com.wrongkey.springidol.Sonnet29"/>
    <!--<end id="sonnet29">-->

    <!--<start id="poeticjuggler_wrongkey">-->
    <bean id="poeticjuggler_wrongkey"
            class="com.wrongkey.springidol.PoeticJuggler">
        <constructor-arg name="name" value="wrongkey"/>
        <constructor-arg name="beanBags" value="15"/>
        <constructor-arg name="poem" ref="sonnet29"/>
    </bean>
    <!--<end id="poeticjuggler_wrongkey">-->

    <!--<start id="stage">-->
    <bean id="stage"
          class="com.wrongkey.springidol.Stage"
          factory-method="getInstance" />
    <!--<end id="stage">-->

</beans>